# Dependencies
node_modules/
.pnp
.pnp.js

# Turborepo
.turbo/

# Next.js
apps/web/.next/
apps/web/out/
apps/web/next-env.d.ts

# Strapi
apps/cms/.tmp/
apps/cms/.cache/
apps/cms/build/
apps/cms/dist/
apps/cms/.strapi/
apps/cms/exports/

# Build output
dist/
build/

# Env files
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
*.pem
.idea/
.vscode/

#Folder
pica/
docs/
tools/audit
design/
docs/